* {
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}

table {
  border-collapse: collapse;
}

.source #sourceJSON {
  width: 95%;
  height: 80%;
}

.os-table-caption-site {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;

  border: 1px solid black;

  position: sticky;
  top: 1px;
  background: white;
}

.os-table-header {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;

  border: 1px solid black;

  position: sticky;
  top: 1.7em;
  background: #fed932;
}

.os-table-header-midle {
  text-align: center;
  font-size: 0.9em;

  border: 1px solid black;
}

.os-table-body {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  
  border: 1px solid black;
}

.os-table-server-info {
  padding: 0.1em;
  vertical-align: top;

  border: 1px solid black;
}

#targetTableContainer table tr > td:nth-child(5n + 1) {
  max-width: 5em;
}

#targetTableContainer table tr > td:nth-child(5n + 2),
#targetTableContainer table tr > td:nth-child(5n + 3),
#targetTableContainer table tr > td:nth-child(5n + 4),
#targetTableContainer table tr > td:nth-child(5n + 5) {
  max-width: 5em;
}
